In [5]:
%load_ext autoreload
%autoreload 2
import functions

In [75]:
from functions import df_20_total, df_20_off, df_20_world_cup, top5_off_by_continent, top5_worldcup_by_continent

In [10]:
import os, sys

print("Working dir:", os.getcwd())
print("Contents:", os.listdir('.'))
print("Python path includes current folder:", os.getcwd() in sys.path)

Working dir: f:\Ironhack\Project_1
Contents: ['.git', '.gitignore', 'data_clean.csv', 'dt-1.ipynb', 'dt-2.ipynb', 'dt-gdp.ipynb', 'functions.py', 'README.md', '__pycache__']
Python path includes current folder: True

In [6]:
import pandas as pd
df = pd.read_csv('data_clean.csv')
df = df.drop(columns=['Unnamed: 0'])
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,winner
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,Draw
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,England
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,Scotland
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,Draw
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,Scotland
...,...,...,...,...,...,...,...,...,...,...
48361,2025-06-29,Canada,Guatemala,1,1,Gold Cup,Minneapolis,United States,True,Guatemala
48362,2025-06-29,United States,Costa Rica,2,2,Gold Cup,Minneapolis,United States,False,United States
48363,2025-07-02,United States,Guatemala,2,1,Gold Cup,St. Louis,United States,False,United States
48364,2025-07-02,Mexico,Honduras,1,0,Gold Cup,Santa Clara,United States,True,Mexico
48365,2025-07-06,United States,Mexico,1,2,Gold Cup,Houston,United States,False,Mexico

In [26]:
df_top20 = df_20_total(df)
df_top20

,matches,victories,home_victories,away_victories,total_goals,avg_goals_per_match,win_rate
winner,,,,,,,
Brazil,1049,674,438,236,2280,2.17,64.25%
England,1080,621,339,282,2357,2.18,57.50%
Argentina,1057,597,408,189,1997,1.89,56.48%
Germany,1021,596,343,253,2292,2.24,58.37%
South Korea,997,547,333,214,1777,1.78,54.86%
Sweden,1091,543,314,229,2158,1.98,49.77%
Mexico,990,515,352,163,1749,1.77,52.02%
Italy,883,476,310,166,1541,1.75,53.91%
France,925,474,316,158,1690,1.83,51.24%
Hungary,996,468,277,191,1994,2.00,46.99%
Spain,773,461,281,180,1574,2.04,59.64%
Netherlands,869,449,272,177,1819,2.09,51.67%
Uruguay,958,431,221,210,1516,1.58,44.99%
Denmark,864,399,246,153,1563,1.81,46.18%
Scotland,841,398,229,169,1433,1.70,47.32%
Japan,781,389,254,135,1430,1.83,49.81%
Poland,882,382,219,163,1482,1.68,43.31%
Egypt,734,382,289,93,1199,1.63,52.04%
Russia,738,381,201,180,1282,1.74,51.63%
Belgium,843,377,246,131,1513,1.79,44.72%

In [32]:
df_top20_off = df_20_off(df)
df_top20_off

,matches,victories,home_victories,away_victories,total_goals,avg_goals_per_match,win_rate
winner,,,,,,,
South Korea,689,403,241,162,1334,1.94,58.49%
Argentina,685,397,292,105,1329,1.94,57.96%
England,654,387,216,171,1431,2.19,59.17%
Brazil,612,376,263,113,1314,2.15,61.44%
Uruguay,638,305,164,141,1047,1.64,47.81%
Mexico,518,295,186,109,1030,1.99,56.95%
Scotland,597,293,176,117,1040,1.74,49.08%
Sweden,535,288,166,122,1080,2.02,53.83%
Thailand,723,288,203,85,1157,1.60,39.83%
Japan,550,286,180,106,1037,1.89,52.00%
Germany,431,284,166,118,1029,2.39,65.89%
Italy,489,280,170,110,863,1.76,57.26%
Spain,427,277,157,120,928,2.17,64.87%
Malaysia,650,267,192,75,1092,1.68,41.08%
France,429,253,158,95,851,1.98,58.97%
Netherlands,412,252,150,102,909,2.21,61.17%
Iran,393,246,154,92,811,2.06,62.60%
Denmark,506,244,142,102,931,1.84,48.22%
Costa Rica,477,242,170,72,915,1.92,50.73%
Egypt,426,238,175,63,727,1.71,55.87%

In [31]:
df_top20_worldcup = df_20_world_cup(df)
df_top20_worldcup

,matches,victories,home_victories,away_victories,total_goals,avg_goals_per_match,win_rate
winner,,,,,,,
Brazil,114,79,61,18,237,2.08,69.30%
Germany,112,72,52,20,232,2.07,64.29%
Argentina,88,53,44,9,152,1.73,60.23%
Italy,83,46,28,18,128,1.54,55.42%
France,73,41,29,12,136,1.86,56.16%
England,74,33,20,13,104,1.41,44.59%
Spain,67,32,14,18,108,1.61,47.76%
Netherlands,55,31,16,15,96,1.75,56.36%
Uruguay,59,26,9,17,89,1.51,44.07%
Belgium,51,22,15,7,69,1.35,43.14%
Sweden,51,20,13,7,80,1.57,39.22%
Russia,45,20,10,10,77,1.71,44.44%
Portugal,35,18,12,6,61,1.74,51.43%
Croatia,30,17,6,11,43,1.43,56.67%
Poland,38,17,10,7,49,1.29,44.74%
Mexico,60,17,9,8,62,1.03,28.33%
Hungary,32,15,8,7,87,2.72,46.88%
Yugoslavia,33,14,3,11,55,1.67,42.42%
Switzerland,41,14,5,9,55,1.34,34.15%
Austria,29,12,9,3,43,1.48,41.38%

In [94]:
df_top_5_bycont = top5_off_by_continent(df)
df_top_5_bycont

                         victories  home_victories  away_victories  matches  \
continent team
Africa    Egypt                238             175              63      426
          Zambia               229             120             109      464
          Cameroon             208             137              71      390
          Nigeria              203             137              66      379
          Ivory Coast          202             133              69      367
America   Argentina            397             292             105      685
          Brazil               376             263             113      612
          Uruguay              305             164             141      638
          Mexico               295             186             109      518
          Costa Rica           242             170              72      477
Asia      South Korea          403             241             162      689
          Thailand             288             203              85      723
          Japan                286             180             106      550
          Malaysia             267             192              75      650
          Iran                 246             154              92      393
Europe    England              387             216             171      654
          Scotland             293             176             117      597
          Sweden               288             166             122      535
          Germany              284             166             118      431
          Italy                280             170             110      489
Oceania   Australia            174             121              53      298
          Tahiti               102              55              47      176
          New Zealand           99              62              37      186
          New Caledonia         97              63              34      172
          Fiji                  86              65              21      171

                        win_rate  total_goals  avg_goals_per_match
continent team
Africa    Egypt           55.87%          727                 1.71
          Zambia          49.35%          693                 1.49
          Cameroon        53.33%          600                 1.54
          Nigeria         53.56%          596                 1.57
          Ivory Coast     55.04%          625                 1.70
America   Argentina       57.96%         1329                 1.94
          Brazil          61.44%         1314                 2.15
          Uruguay         47.81%         1047                 1.64
          Mexico          56.95%         1030                 1.99
          Costa Rica      50.73%          915                 1.92
Asia      South Korea     58.49%         1334                 1.94
          Thailand        39.83%         1157                 1.60
          Japan           52.00%         1037                 1.89
          Malaysia        41.08%         1092                 1.68
          Iran            62.60%          811                 2.06
Europe    England         59.17%         1431                 2.19
          Scotland        49.08%         1040                 1.74
          Sweden          53.83%         1080                 2.02
          Germany         65.89%         1029                 2.39
          Italy           57.26%          863                 1.76
Oceania   Australia       58.39%          725                 2.43
          Tahiti          57.95%          534                 3.03
          New Zealand     53.23%          390                 2.10
          New Caledonia   56.40%          538                 3.13
          Fiji            50.29%          473                 2.77

In [96]:
df_top_5__worldcup_bycont = top5_worldcup_by_continent(df)
df_top_5__worldcup_bycont

                        victories  home_victories  away_victories  matches  \
continent team
Africa    Morocco               6               2               4       23
          Nigeria               6               4               2       21
          Cameroon              5               4               1       26
          Ghana                 5               1               4       15
          Senegal               5               0               5       12
America   Brazil               79              61              18      114
          Argentina            53              44               9       88
          Uruguay              26               9              17       59
          Mexico               17               9               8       60
          Chile                11               9               2       33
Asia      South Korea           8               8               0       38
          Japan                 7               4               3       25
          Saudi Arabia          4               2               2       19
          Iran                  3               0               3       18
          North Korea           1               0               1        7
Europe    Germany              72              52              20      112
          Italy                46              28              18       83
          France               41              29              12       73
          England              33              20              13       74
          Spain                32              14              18       67
Oceania   Australia             4               3               1       20

                       win_rate  total_goals  avg_goals_per_match
continent team
Africa    Morocco        26.09%           20                 0.87
          Nigeria        28.57%           23                 1.10
          Cameroon       19.23%           22                 0.85
          Ghana          33.33%           18                 1.20
          Senegal        41.67%           16                 1.33
America   Brazil         69.30%          237                 2.08
          Argentina      60.23%          152                 1.73
          Uruguay        44.07%           89                 1.51
          Mexico         28.33%           62                 1.03
          Chile          33.33%           40                 1.21
Asia      South Korea    21.05%           39                 1.03
          Japan          28.00%           25                 1.00
          Saudi Arabia   21.05%           14                 0.74
          Iran           16.67%           13                 0.72
          North Korea    14.29%            6                 0.86
Europe    Germany        64.29%          232                 2.07
          Italy          55.42%          128                 1.54
          France         56.16%          136                 1.86
          England        44.59%          104                 1.41
          Spain          47.76%          108                 1.61
Oceania   Australia      20.00%           17                 0.85

In [101]:
#by decades
df_top_5_bycont_d50 = top5_off_by_continent(df[
    (df['date'] >= '1950-01-01') &
    (df['date'] <= '1959-12-31')
])
df_top_5_bycont_d50

                            victories  home_victories  away_victories  \
continent team
Africa    Egypt                     4               3               1
          Sudan                     2               1               1
America   Brazil                   50              37              13
          Uruguay                  30               6              24
          Argentina                29              24               5
          Chile                    20              17               3
          Costa Rica               20              14               6
Asia      South Korea              13               7               6
          Indonesia                11               8               3
          Taiwan                   10               7               3
          Vietnam Republic         10               2               8
          Malaysia                  9               8               1
Europe    Sweden                   27              14              13
          England                  24              13              11
          Czechoslovakia           18              11               7
          Hungary                  16               8               8
          Norway                   16               7               9

                            matches win_rate  total_goals  avg_goals_per_match
continent team
Africa    Egypt                   6   66.67%           14                 2.33
          Sudan                   5   40.00%            5                 1.00
America   Brazil                 79   63.29%          198                 2.51
          Uruguay                56   53.57%          138                 2.46
          Argentina              47   61.70%          112                 2.38
          Chile                  58   34.48%           95                 1.64
          Costa Rica             27   74.07%           78                 2.89
Asia      South Korea            23   56.52%           62                 2.70
          Indonesia              19   57.89%           52                 2.74
          Taiwan                 11   90.91%           34                 3.09
          Vietnam Republic       24   41.67%           62                 2.58
          Malaysia               19   47.37%           46                 2.42
Europe    Sweden                 44   61.36%          132                 3.00
          England                44   54.55%          107                 2.43
          Czechoslovakia         31   58.06%           65                 2.10
          Hungary                27   59.26%           88                 3.26
          Norway                 39   41.03%           71                 1.82